* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  display: flex;
  background-color: #F7F7F7;
}

.main {
  margin-left: 200px;
  padding-top: 60px;
  width: calc(100% - 200px);
}

.content {
  padding: 0;
  margin-right: 0;
}