* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  display: flex;
}

.main {
  margin-left: 200px;
  padding-top: 60px;
  width: calc(100% - 200px);
}

.content {
  padding: 24px;
}